* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  /* navber */
  .container1 {
    max-width: 1400px;
    margin: 0 auto;
    padding-left: 12px;
    padding-right: 12px;
}

.head {
    padding-top: 15px;
    padding-bottom: 15px;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav1 .list {
    display: flex;
    margin: 0;
    padding: 0;
}

.list>li {
    list-style: none;
    margin-left: 42px;
}

.list>li a {
    text-decoration: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #000000;
}

.sign-btn a {
    text-decoration: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    /* leading-trim: both;
text-edge: cap; */
    text-align: center;
    text-transform: capitalize;
    color: white;
    flex: none;
    order: 0;
    flex-grow: 0;
    border: 1px solid #F6655D;
    padding: 11px 18px;
    border-radius: 34px;
    background-color: #F6655D;
}
/* banner */
.banner-sec {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 760px;
}

.banner-in h1 {
  font-family: 'Century Gothic';
  font-style: normal;
  font-weight: 600;
  font-size: 80px;
  line-height: 98px;
  /* identical to box height */
  text-align: center;
  color: #FFFFFF;
}

.banner-in .btn a {
  text-decoration: none;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  /* leading-trim: both;
text-edge: cap; */
  text-align: center;
  text-transform: capitalize;
  color: #FFFFFF;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  border: 1px solid#F6655D;
  border-radius: 34px;
  background-color: #F6655D;
  padding: 22px 25px;
}

/* contact */
  
  .container {
    max-width: 1140px;
    margin: 0 auto;
    padding-left: 12px;
    padding-right: 12px;
  }
  .imgae-card img{
    object-fit: cover;
    border-radius: 20px;
  }
  .heading {
    text-align: center;
  
  }
  
  .heading h1 {
    font-size: 50px;
    margin: 70px 0 30px 0;
    color: #F6655D;
  
  }
  
  .heading p {
    margin-bottom: 90px;
  }
  
  .head {
    text-align: center;
  }
  
  .head h2 {
    color: #F6655D;
  }
  
  .details {
    width: 556px;
    height: 685px;
    /* border: 1px solid black; */
    background-color: aliceblue;
    border: 1px aliceblue;
    border-radius: 25px;
  }
  
  .main {
    display: flex;
    justify-content: space-between;
  }
  
  input[type="text"] {
    box-sizing: border-box;
    width: 100%;
    height: calc(3em + 2px);
    margin: 0 0 1em;
    padding: 1em;
    border: 1px solid #ccc;
    /* border-radius: 1.5em; */
    background: #fff;
    resize: none;
    outline: none;
  }
  #comment-box{
    height: calc(4em);
    margin:0 0 0 ;
  }
  input[type="text"][required]:focus {
    border-color: #00bafa;
  }
  input[type="text"][required]:focus + label[placeholder]:before {
    color: #00bafa;
  }
  input[type="text"][required]:focus + label[placeholder]:before,
  input[type="text"][required]:valid + label[placeholder]:before {
    transition-duration: 0.2s;
    transform: translate(0, -1.5em) scale(0.9, 0.9);
  }
  input[type="text"][required]:invalid + label[placeholder][alt]:before {
    content: attr(alt);
  }
  input[type="text"][required] + label[placeholder] {
    display: block;
    pointer-events: none;
    line-height: 1.25em;
    margin-top: calc(-3em - 2px);
    margin-bottom: calc((3em - 1em) + 2px);
  }
  input[type="text"][required] + label[placeholder]:before {
    content: attr(placeholder);
    display: inline-block;
    margin: 0 calc(1em + 2px);
    padding: 0 2px;
    color: #898989;
    white-space: nowrap;
    transition: 0.3s ease-in-out;
    background-image: linear-gradient(to bottom, #fff, #fff);
    background-size: 100% 5px;
    background-repeat: no-repeat;
    background-position: center;
  }
  /* html {
    height: 100%;
  }
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  } */
  
  .box {
    margin: 42px;
  }
  
  .head h2 {
    margin: 52px 0 43px 0;
  }
  
  .head p {
    margin-bottom: 46px;
  }
  
  .btn-1 {
    border: 1px solid green;
    border-radius: 50px;
    color: rgb(255, 255, 255);
    margin: 20px 18px 0 0;
    width: 179px;
    padding: 10px 0;
    background-color: #F6655D;
  }
  #verification{
    margin-top: 30px;
  }
  /* card section  */
  
  .card-container{
      max-width: 1140px;
      margin: 100px auto;    
      
    }
    .card{
      --bs-card-border-width:none;
      }
    .card-container h2 {
      margin-bottom:50px ;
    }
    .icn-btn{
      border: 1px solid #F6655D;
      padding:5px 10px;
    } 
  
  .icn-btn:hover{
      background-color:#F6655D ;
    }
    .fa-solid:hover{
      filter: brightness(200%);
  
    }
    .headline{
      display: flex;
    }
    .slide-icon{
      margin-left: 670px;
    }
    /* foooter...................... */
    /* footer */
.foot {
  background-color: #635f5f;
}

footer {
  background-color: #635f5f;
  color: #fff;
  padding: 30px 0;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.footer-section {
  padding: 20px;
}

.footer-section h2 {
  font-size: 18px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 10px;
}

.footer-section ul li a {
  color: #fff;
  text-decoration: none;
}

.footer-bottom {
  text-align: center;
  padding-top: 10px;
}

/* banneru//////////////////////////////////////////// */
.about-img figure img {
    width: 100%;
    /* height: 100vh; */
    object-fit: cover;
}