* {
    padding: 0;
    margin: 0;
}
.cart {
    margin-left: 500px;
    cursor: pointer;
}
.container1 {
    margin: 0 auto;
    max-width: 1600px;
    padding-left: 30px;
    padding-right: 30px;
}

.head {
    padding-top: 15px;
    padding-bottom: 15px;
}

.navbr {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbr_innr {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbr_innr .lst-op {
    display: flex;
    margin: 0;
    padding: 0;
}

.lst-op li {
    list-style: none;
    margin-left: 42px;
}

.lst-op li a {
    text-decoration: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #000000;
}

.bttn a {
    text-decoration: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    text-transform: capitalize;
    color: white;
    flex: none;
    order: 0;
    flex-grow: 0;
    border: 1px solid #F6655D;
    padding: 11px 18px;
    border-radius: 34px;
    background-color: #F6655D;
}



.back {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    max-width: 100%;

}

.bnny {
    padding-top: 200px;
    padding-left: 115PX;
}

.newyr {
    padding-top: 68px;
    padding-left: 50px;
}

.neweve {
    padding-top: 159px;
    padding-left: 50px;
}

.hand {
    padding-top: 129px;
    padding-left: 50px;
}

.frnt {
    padding-top: 217px;
    padding-left: 50px;
}

.magic {
    padding-top: 97px;
    padding-left: 50px;
}

.hdr_img {
    max-width: 1548px;
    display: flex
}

.container {
    max-width: 1140px;
}

.list-prt-innr {
    display: flex;
}

.col-sm p {

    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-size: 15px;
    text-align: center;
    color: #F6655D;
    padding: 3px;
    margin: 0;
}

.list-prt {
    margin-top: 103px;
}

.pic_card {
    margin-left: 24px;
}

.col-sm h4 {
    font-family: 'Inter';
    font-style: normal;
    font-size: 18px;
    text-align: justify;
    color: #F6655D;
    padding-top: 20px;

    margin-bottom: 40px;



    font-weight: 600;




}

.col-sm {
    height: 311px;
    margin-bottom: 40px;
}

.col-sm img {
    width: 193px;
    height: 256px;
    object-fit: cover;
    border-radius: 20px;
}

.list-prt-innr {
    color: #F6655D;



}

.mb-3 {
    margin-left: -77px;
}

.fil h3 {
    padding: -25px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
}

/* foooter */
/* footer */
.foot {
    background-color: #635f5f;
}

footer {
    background-color: #635f5f;
    color: #fff;
    padding: 30px 0;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.footer-section {
    padding: 20px;
}

.footer-section h2 {
    font-size: 18px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: #fff;
    text-decoration: none;
}

.footer-bottom {
    text-align: center;
    padding-top: 10px;
}


/* banner/////////////////////////////////////////////////// */
.about-img figure img {
    width: 100%;
}
